<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<div class="widget" id="widget1"></div>
		<div class="widget" id="widget2"></div>
		<script src="/javascripts/index.js"></script>
	</body>
</html>
